<div class="card">

  <form class="card-body login-form">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="username-input-login" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-input-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" id = "login-link" type="submit">LOGIN</button>
    </div>

  </form>
  <br>
  <a class = "form-label" id = "signup" href="/signup">Sign Up </a>
</div>
<form class="signup-form"></div>
<script src="./js/login.js"></script>
